@font-face {
    font-family: 'Arimo-Regular';
    src: url('../font/Arimo/Arimo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Bold';
    src: url('../font/Arimo/Arimo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-BoldItalic';
    src: url('../font/Arimo/Arimo-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Italic';
    src: url('../font/Arimo/Arimo-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../font/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}