.page6 {
  .title {
    h2 {
      font-family: 'Arimo-Bold';
      font-size: rem(20px);
      font-weight: bold;
      margin-top: rem(15px);
      margin-bottom: rem(30px);
    }
  }

  .group-button {
    width: 70%;
    margin: auto;
  }
}