.page7 {
  .title {
    p {
      font-family: 'Arimo-Bold';
      font-size: rem(20px);
      font-weight: bold;
      margin-top: rem(15px);
      margin-bottom: rem(30px);
    }
  }

  .qr-code {
    width: 70%;
    margin: auto;
  }

  .sub-text {
    p {
      font-family: 'Montserrat-ExtraBold';
      font-size: rem(15px);
      margin: rem(30px) 0;
    }
  }
}