.page10 {
  .title {
    p {
      font-family: 'Montserrat-ExtraBold';
      font-size: rem(15px);
      margin-top: rem(15px);
      margin-bottom: rem(30px);
    }
  }

  .banner-img {
    width: 70%;
    margin: auto;
  }

  .wrapper-btn {
    margin-bottom: rem(10px);
  }

  .sub-text {
    a {
      display: block;
      font-family: 'Arimo-Regular';
      font-size: rem(20px);
      text-decoration: none;
    }
  }
}