.page8 {
  .title {
    p {
      font-family: 'Montserrat-ExtraBold';
      font-size: rem(15px);
      margin-top: rem(15px);
      margin-bottom: rem(30px);
    }
  }

  .banner-img {
    width: 70%;
    margin: auto;
  }

  .sub-text {
    margin-top: rem(15px);
    margin-bottom: rem(30px);

    a {
      display: block;
      font-family: 'Arimo-Regular';
      font-size: rem(14.5px);
      color: $color-black-0;
      text-decoration: none;
    }
  }
}

