.page4 {
  .group-contact {
    width: 85%;
    margin: auto;

    .wrapper-contact {
      padding: rem(4px);
      border-radius: rem(10px);
      margin-top: rem(30px);
      background-color: white;
      box-shadow: 7px 7px 5px rgba(26, 24, 24, 0.75);

      .contact-item {
        font-family: "Arimo-Bold";
        border: 1px solid $primary-text-color;
        border-radius: rem(10px);
        padding: rem(6px) rem(12px);
  
        h4 {
          font-family: 'Arimo-Bold';
          font-size: rem(20px);
          color: $primary-text-color-dark;
        }
  
        p {
          font-size: rem(11.5px);
          text-align: center;
        }
  
        span {
          font-size: rem(16px);
        }

      }
    }
  }

  .sub-text {
    margin-top: rem(15px);
    margin-bottom: rem(30px);

    a {
      font-family: 'Arimo-Regular';
      font-size: rem(14.5px);
      color: $color-black-0;
    }
  }
}